<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Post</title>
    <link rel="stylesheet" href="..\..\static\css\post_detail.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
  </head>
  <body>
    <div class="wrapper">
      <div class="center">
        <div class="post">
          <div class="info">
            <div class="user">
              <div class="profile-pic">
                <img src="..\..\static\assets\img\avatar.png" alt="" />
              </div>
              <p class="username">username</p>
            </div>
          </div>
          <img src="..\..\static\assets\img\cat.jpg" class="post-image" alt="" />
          <div class="post-content">
            <div class="reaction-wrapper">
              <img src="..\..\static\assets\img\like.png" class="icon" alt="" />
              <img src="..\..\static\assets\img\comments.png" class="icon" alt="" />
            </div>
            <p class="likes">1,012 likes</p>
            <p class="description">
              <span>username </span> Hi
            </p>
            <p class="post-time">2 minutes ago</p>
          </div>
          <div class="comment-wrapper">
            <img src="img/smile.PNG" class="icon" alt="" />
            <input
              type="text"
              class="comment-box"
              placeholder="Add a comment"
            />
            <button class="comment-btn"><img src="..\..\static\assets\img\sent.png" class="icon" alt="" /></button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
