<div class="central-meta item">
    <div class="user-post">
        <div class="friend-info">
            <figure>
                <img src="../../static/assets/img/avatar.png" alt="">
            </figure>
            <div class="friend-name">
                <ins><a href="time-line.html" title="">{{post.post.author.username}}</a></ins>
                <span>{{ post.post.timestamp.strftime('%Y-%m-%d') }}</span>
            </div>
            <div class="post-meta">
                <img src="../../static/assets/img/cat.jpg" alt="">
                <div class="we-video-info">
                    <ul>
                        <li>
                            <span class="views" data-toggle="tooltip" title="views">
                                <i class="fa fa-eye"></i>
                                <ins>1.2k</ins>
                            </span>
                        </li>
                        <li>
                            <span class="like" data-toggle="tooltip" title="like">
                                <i class="ti-heart"></i>
                                <ins>{{ post.post.upvotes | length }}</ins>
                            </span>
                        </li>
                        <li>
                            <span class="dislike" data-toggle="tooltip" title="dislike">
                                <i class="ti-heart-broken"></i>
                                <ins>200</ins>
                            </span>
                        </li>
                    </ul>
                </div>
                <div class="description">
                    <p>
                        {{ post.post.content }}
                    </p>
                </div>
                <div class="description">
                    <p style="font-weight: bold;">
                        Reported by: {{post.user.username}}
                        <p style="font-weight: bold;"style="font-weight: bold;">Time report: {{post.timestamp.strftime('%Y-%m-%d')}}</p>
                        <p style="font-weight: bold;">Reason: {{ post.reason}}</p>
                    </p>
                </div>
                <div class="we-video-info">
                    <ul>
                        <li>
                            <div class="text-right"> 
                                <form onSubmit="if(!confirm('Refuse this report?')){return false;}" action="./delete_report" method="POST">
                                  <input type="text" value="{{post.id}}" name="id" hidden>
                                  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                                  <button class="btn btn-danger" type="submit"  ><i class="fa fa-trash"></i>  Refuse </button>
                                </form> 
                            </div>
                        </li>
                        <li>
                            <div class="text-right"> 
                                <form onSubmit="if(!confirm('Accept this report and delete this post?')){return false;}" action="./delete_report" method="POST">
                                  <input type="text" value="{{post.id}}" name="id" hidden>
                                  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                                  <button class="btn btn-success"  type="submit"><i class="fa fa-pencil"></i> Accept  </button>
                                </form>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>