<div class="central-meta item">
    <div class="user-post">
        <div class="friend-info">
            <figure>
                <img src="../../static/assets/img/avatar.png" alt="">
            </figure>
            <div class="friend-name">
                <ins><a href="time-line.html" title="">Janice Griffith</a></ins>
                <span>published: june,2 2018 19:PM</span>
            </div>
            <div class="post-meta">
                <img src="../../static/assets/img/cat.jpg" alt="">
                <div class="we-video-info">
                    <ul>
                        <li>
                            <span class="views" data-toggle="tooltip" title="views">
                                <i class="fa fa-eye"></i>
                                <ins>1.2k</ins>
                            </span>
                        </li>
                        <li>
                            <span class="like" data-toggle="tooltip" title="like">
                                <i class="ti-heart"></i>
                                <ins>2.2k</ins>
                            </span>
                        </li>
                        <li>
                            <span class="dislike" data-toggle="tooltip" title="dislike">
                                <i class="ti-heart-broken"></i>
                                <ins>200</ins>
                            </span>
                        </li>
                    </ul>
                </div>
                <div class="description">
                    
                    <p>
                        World's most beautiful car in Curabitur <a href="#" title="">#test drive booking !</a> the most beatuiful car available in america and the saudia arabia, you can book your test drive by our official website
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>