<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{home.name}} Info</title>
</head>
<body>
    <h1>Basic info of tro 39</h1>
    <h3>Address: {{home.address}}</h3>
    <h3>Number of room: {{home.num_room}}</h3>
    <h3>Number of available room: {{home.room_no}}</h3>
    <h3>Description: {{home.des}}</h3>
    <h3>Owner: {{home.owner}}</h3>
    
</body>
</html>