<html>
  <head>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      href="https://s3.amazonaws.com/codecademy-content/courses/ltp2/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto"
      rel="stylesheet"
      type="text/css"
    />
    <link href="..\static\css\create_post.css" rel="stylesheet" />
  </head>
  <body>
    <div class="container">
      <form method="p">
        <div class="form-group">
          <textarea
            class="form-control status-box"
            rows="2"
            placeholder="What's on your mind?"
          ></textarea>
        </div>
        <div>
          <label for="myfile">Select a file:</label>
          <input type="file" id="myfile" name="myfile" />
        </div>
        <div class="button-group pull-right">
          <p class="counter">1000</p>
          <button class="btn btn-primary" type="submit">Post</button>
          <i onclick="myFunction(this)" class="fa fa-thumbs-up"></i>
        </div>
      </form>
      <ul class="posts"></ul>
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="..\static\js\create_post.js"></script>
  </body>
</html>
